* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    background: linear-gradient(to right, #2c3e50,#4a69bd);
    padding: 20px;
    text-align: center;
    /* height: 10px; */
}
.navbar {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.nav-webname {
    width: 70%;
    font-weight: bold;
    font-size: xx-large;
}
#web-para {
    font-size: small;
    color: wheat;
}
.nav-sign:hover {
    border: 5px solid #04102c;
    border-radius: 20px;
}